body{
    font-family: helvetica;
}
.main-header{
    background-color: burlywood;
    padding:0;
    margin:0;
}

.main-header__nav{
    padding:0;
    margin:0;
    display: flex;
    align-items: auto;
}

.main-header__items-list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; 
}

.main-header__item{
    margin: 0 1rem;
    padding: 0; 
}