<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__items-list">
                <li class="main-header__item"><a href="/">Home</a></li>
                <li class="main-header__item"><a href="/users">Users</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1>Welcome to my Assignment to for module 5!</h1>
        <div>Here is an image of my dog leo, just so I can play around with static file serving some more:<br>
        <img src="/images/leo.jpeg"></div>
    </main>
    
</body>
</html>