<%- include('includes/head.ejs') %>
</head>
<body>
    <%- include('includes/nav.ejs') %>

    <main>
        <h4>Add a user:</h4>
        <form action="/users" method="POST">
            First Name: <input type="text" name="fName">
            Last Name: <input type="text" name="lName">
            User Name: <input type="text" name="uName">
            <button type="submit">Add User</button>
        </form>
    </main>
    
<%- include('includes/end.ejs') %>